---
interface porps{
    img:string;
    title:string;
    content:string;
    badge: string;
    badge2: string;
    href: string;
}

const {img, title, badge, href, content, badge2} = Astro.props;
---
<div class=" bg-zinc-800 rounded-3xl transition delay-150 duration-300 ease-in-out  hover:bg-gray-900 hover:scale-105">
	
        <a class="" href={href} target="_blank">
            <img class="object-cover w-full h-full rounded-t-3xl" src={img} alt="">
            <div class="px-5">
                <h2 class=" py-1 mb-2 text-2xl font-bold tracking-tight text-cyan-900">
                 {title}
             </h2>
                <div>
                 <p class="text-white pb-3">{content}</p>
                </div>
                <div class="pb-6 flex flex-row-reverse">
                    <span class="bg-gray-400 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-indigo-400 border border-indigo-400">{badge}</span>
                    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">{badge2}</span>
             </div>
             <div/>
        </a>
    
    
</div>
